.App {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 10vh auto;
  height: 100vh;
  grid-template-areas: 
      "header header"
      "content sidebar";
}

.App.mobile {
  grid-template-columns: 1fr; /* Utilisez toute la largeur pour le contenu mobile */
  grid-template-areas: 
      "header"
      "content";
}







.header {
  grid-area: header;
  background-color: #333;
  color: white;
  border:1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  grid-area: content;
  overflow: hidden;
}

.sidebar {
  grid-area: sidebar;
  background-color: #333;
  border:1px solid white;
  overflow-x: hidden;
  padding-top: 20px;
}
