.App {
  display: grid;
  grid-template-columns: 4fr 1fr; /* 80% pour le contenu, 20% pour la barre latérale */
  grid-template-rows: 10vh auto; /* 10% pour l'en-tête, le reste pour le contenu */
  height: 100vh;
  grid-template-areas: 
      "header header"
      "content sidebar";
}

.header {
  grid-area: header;
  background-color: #333;
  color: white;
  border:1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  grid-area: content;
  overflow: hidden;
}

.sidebar {
  grid-area: sidebar;
  background-color: #333;
  border:1px solid white;
  overflow-x: hidden;
  padding-top: 20px;
}
